name: Verilator CI

on:
  push:
    branches: [ main, wave_test ]
    paths-ignore: # prevent infinite calls to github actions
      - outputs/wave.vcd  
      - outputs/sim.log
  pull_request:

permissions: # allow writes to repo
  contents: write   

jobs:
  build-and-sim:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y verilator g++ make imagemagick 

    - name: Install vcd2svg
      run: |
        curl -L https://github.com/cksystemsteaching/vcd2svg/releases/latest/download/vcd2svg-linux-x64.tar.gz \
          | tar xz -C /usr/local/bin

    - name: Run SV testbench
      run: |
        verilator -sv src/*.sv test/tb.sv \
          --binary \
          --trace \
          --timing \
          -Mdir obj_dir_sv
        echo "------------------ Running testbench -------------------"
        ./obj_dir_sv/Vtop | tee sim.log
        echo "------------------- Test complete ----------------------"
   
    - name: Save waveform to repo
      run: |
        mkdir -p outputs
        mv obj_dir_sv/wave.vcd outputs/wave.vcd
        mv sim.log outputs/sim.log

    - name: Generate waveform image
      run: |
        vcd2svg outputs/wave.vcd -o outputs/wave.svg
        convert outputs/wave.svg outputs/wave.png

    - name: Commit waveform
      if: github.event_name == 'push'
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add outputs/wave.vcd outputs/sim.log
        git commit -m "CI: generated output files" || echo "No changes to commit"
        git push

    - name: Upload simulation output
      uses: actions/upload-artifact@v4
      with:
        name: sim-output
        path: |
          outputs/sim.log
          outputs/wave.vcd


    - name: Write job summary
      run: |
        echo "## Verilator Simulation Results" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        echo "- Simulation completed" >> $GITHUB_STEP_SUMMARY
        echo "- Log file: \`sim.log\`" >> $GITHUB_STEP_SUMMARY
        echo "- Waveform file: \`outputs/wave.vcd\`" >> $GITHUB_STEP_SUMMARY
        echo "- Live Waveform Viewer (Surfer): https://app.surfer-project.org" >> $GITHUB_STEP_SUMMARY
        echo "- Load waveform from this URL (in Surfer): https://raw.githubusercontent.com/${GITHUB_REPOSITORY}/main/outputs/wave.vcd" >> $GITHUB_STEP_SUMMARY
        
  # https://raw.githubusercontent.com/SattiDaBeaver/ASIC-Hackathon-Template/main/outputs/wave.vcd
        